{% extends 'addrbook/search.html' %}

{% block content %}
	{% for error in form.non_field_errors %}
		<p style="color: red">
			{{ error }}
		</p>
	{% endif %}

	<form method="post" action="{% url 'edit' entry.id %}">
		<table>
			{% for field in form.visible_fields %}
				<tr>
					<td>{{field.label_tag}}</td>
					<td>{{field}}</td>
					<td class="error">
						{% for error in field.errors %} {{ error }} {% endif %}
					</td>
				</tr>
			{% endif %}
			<tr>
				<td>Created:</td>
				<td colspan="2">
					{{entry.creation_time|date:"Y-m-d"}}
					(by {{entry.created_by.first_name}} {{entry.created_by.last_name}})
				</td>
			</tr>
			<tr>
				<td>Last Update:</td>
				<td colspan:"2">
					{{entry.update_time}} (by user {{entry.updated_by}})
				</td>
			</tr>
		</table>
		{% for field in form.hidden_field %}
			{{field}} {{field.errors}}
		{% endif %}
		{% csrf_token %}
		<input type="submit" value="Update">
	</form>

	<form action="{% url 'delete' entry.id %}" method="post">
		{% csrf_token %}
		<input type="submit" value="Delete">
	</form>
{% endblock %}